<template name="person">
<div class="column">
  <div class="ui fluid card {{state}}">
    <div class="image">
       <img src="/images/{{genre}}.jpg">
    </div>
    <div class="content">
      <div class="meta">
        <span class="date">{{name}}</span>
      </div>
      {{#if team_id}}
      <button class="remove">remove</button>
      {{/if}}
    </div>
  </div>
</div>
</template>
