<template name="place">
<div class="ui piled segment">
  <h4 class="ui header">{{name}}</h4>

  <div class="ui three column grid" style="min-height:100px;">

     {{#each members }}
       {{> person}}
     {{/each}}
  </div>


</div>
</template>
