<head>
  <title>allocate</title>
</head>

<body>


  <!-- People -->
  <div id="app" class="ui grid padded">
     <div class="row one column">
        <div class="teal column">
          <h2 class="ui inverted header">Re-ubicación Tavano</h2>
        </div>
    </div>

    {{>app}}
  </div>
</body>
