
<template name="app">
<div class="ten wide column" id="team" >
     {{>people}}
</div>
<!-- Peoples -->

<!-- Places -->
<div class="six wide column">
   {{>places}}

</div>
<!-- END Places -->
</template>
